.App {
  text-align: center;
  background: linear-gradient(
    to bottom right,
    rgb(236, 132, 149),
    rgb(236, 82, 154)
  );
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

.app-card {
  width: 50%;
  min-height: 600px;
  height: auto;
  margin: 35px 0;

  background-color: rgb(53, 57, 53);
  border-radius: 5px;
  padding: 25px;
  color: whitesmoke;
}

.day-and-date {
  margin-top: 30px;
}

.day,
.date {
  padding: 5px;
}

.date {
  color: lightgray;
}

.form {
  display: inline;
  margin: 0 auto;
  width: 100%;
}

form {
  margin-top: 30px;
}

.form input {
  width: 50%;
  margin-right: 5px;
  font-size: 26px;
  padding: 5px;
  background-color: rgb(52, 52, 52);
  color: rgb(223, 212, 212);
}

.form button {
  font-size: 26px;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: rgb(52, 52, 52);
  color: rgb(223, 212, 212);
}

.form button:hover {
  box-shadow: 2px 2px 5px 5px rgb(60, 59, 59), -2px -2px 5px 5px rgb(60, 59, 59);
}

.Landing-page {
  margin-top: 15%;
}

.todo-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-item {
  margin: 10px 0;
  width: 80%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* overflow: auto; */
}

.todo-item .item-date {
  max-width: 70%;
}

.item-date label {
  max-width: 90%;
}

.todo-item:hover {
  box-shadow: 4px 4px 10px 2px rgb(52, 52, 52),
    -2px -2px 10px 2px rgb(52, 52, 52);
  cursor: pointer;
}

.item-date {
  text-align: left !important;
}

.item-date p {
  margin-top: 8px;
}

.todo-item input,
.todo-item label {
  transform: scale(1.5);
  font-size: 26px;
  margin: 0 5px;
}

.buttons button {
  font-size: 16px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(52, 52, 52);
  color: rgb(223, 212, 212);
}

.buttons button:hover {
  box-shadow: 2px 2px 5px 2px rgb(60, 59, 59), -2px -2px 5px 2px rgb(60, 59, 59);
}

@media screen and (max-width: 860px) {
  .app-card {
    width: 90%;
  }

  .form input {
    width: 60%;
  }

  .todo-item {
    width: 100%;
  }
}
